*{
  font-family: 'Chakra Petch', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Staatliches;
  font-size: 120px;
}

#category {
  font-family: Staatliches;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Staatliches;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.spinner-container{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%;
  height:200px;

  text-align: center;
}



.text-slider{
  /* border: 5px solid red; */
  font-family: 'Chakra Petch', sans-serif;
  position: relative;

bottom: -60px;

}
.nav-wrapper{
  max-width: 1200px;
  margin:0 auto;

}

.hero-wrapper{
  background-color: #1F1F22;

}

.hero-carousel{
 

}


.text-slider::before{
  content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.3);
}
.title-slider{
  
  filter:brightness(1);
  font-family: 'Chakra Petch', sans-serif;
  color:#19DD1E;
  font-weight: bold;
  
  
 
  


}
.title-content{
  filter:brightness(1);
  font-family: 'Chakra Petch', sans-serif;
  color:#fff;

}

.title-category{
  color:#107B0F;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 4em;
}

.articles-home{
  background-color: #1F1F22;
}

.category-wrapper{
  
  background-color: #1F1F22;
}
.category{
max-width:1200px;
  margin:0 auto;
}
.card-wrapper{
 
  /* background-color:  #111114; */
  
  
  
}

.card{
  max-width: 1200px;
  margin:0 auto;
  background-color: #111114;
   border: .5px solid #107B0F;
  
}
.card-title{
  color:#19DD1E;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}
.card-content{
  color:#fff;
  font-weight:300;
}
.card-text{
   max-width: 1200px;
   margin: 0 auto;
   margin-bottom: 30px;
  color:#fff;
  font-weight:300;
  
}

.card-footer{
  max-width: 1200px;
  display: flex;
  color:#107B0F;
  justify-content:flex-end;
}

.card-author{
 
 color: #4F5056;
 font-weight: bold;
}

.card-author:hover{
  color:#fff;
}

.card-category{
color:#107B0F ;
font-weight: bold;
  
}
.card-publish{
  display: flex;
  justify-content:flex-end;
  color:#107B0F ;
font-weight: bold;
}

.category{
  background-color: #1F1F22;
}

.footer-link{
  color:#107B0F;
  font-weight:bold;
}
.footer-link:hover{
  color:#111114;
  text-decoration: none;
  
}
.footer-games{
  color: #19DD1E;
  font-size: 1.5em;
  margin:0;
}
.footer-games:hover{
  color: #107B0F;
  font-weight: bold;
  cursor: pointer;
  
}



@media only screen and (max-width: 600px) {
  .card-title {
    font-size: 2em;
  }

}
@media only screen and (min-width: 600px) {
  .text-slider {
    height: 300px;
  
  }
  .title-slider{
    font-size: 4em;
  }
  .title-content{
    font-size: 2em;
  }

}